asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
requests
pgvector
markitdown[pdf]
docling
numpy
tqdm
markdown
beautifulsoup4W
fake-useragent
agno
ollama